*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/core/*/build
/feature/*/build
*.apk
*.aab
*.jks
*.keystore
android-sdk/
temp_java
setup_android.sh
